*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fs-title: 28px;
    --fs-h1: 24px;
    --fs-h2: 20px;  
    --fs-h3: 18px;
    --fs-h4: 16px; 
    --fs-button: 20px;
    --fs-p: 16px;

    --fs-btn: 20px;

    --fs-sub: 40px;
    --fs-label: 18px;

    --fw-main: 300;
    --fw-title: 600;
    --ff-main: "Nunito Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
}


h1{
    font-family: var(--ff-main);
    font-weight: var(--fw-main);
    font-size: var(--fs-h1);
}

h2{
    font-family: var(--ff-main);
    font-weight: var(--fw-main);
    font-size: var(--fs-h2);
}


.hero{
    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/tp.png);

    background-position: center;
    background-size: cover;
}

.title-box{
    position: absolute;
    top: 36%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

    text-align: center;
}



h1.title{
    text-align: center;
    font-weight: var(--fw-title);
    font-size: var(--fs-title);
    color: white;
    margin-bottom: 0.8rem;
}

button.title-btn{
    padding: 12px 24px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: var(--fs-btn);

}

section.movie-galery{
    padding-top: 8%;
    padding-left: 4%;
}

.scroll-title{
    margin-top: 4%;;
}

.scroll-container{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.scroll-container::-webkit-scrollbar{
    display:none;
}

.item{
    flex-shrink: 0;
    margin: 0 1%;
}

.item img{
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
}



.posters-carousel::-webkit-scrollbar{
    display: none;
}

/* Santosh Tab and Stuff */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 40, 40);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: transform 0.4s ease, opacity 0.3s ease;
}

header img {
    width: 2rem;
    height: auto;
    margin: 0.5rem;
    border-radius: 15px;;
}

.content {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 1rem;
    line-height: 1.6;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.374);
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    transition: transform 0.4s ease, opacity 0.3s ease;
}

footer img {
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

footer img:hover {
    transform: scale(1.1);
}

/* Animation for elements */
.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* INFO PAGE */


.info-container {
    max-width: 80%;
    margin: auto;
}

.movie-card {
text-align: center;
margin-top: 20px;
}

.image-placeholder {
width: 100%;
height: 200px;
background-color: #d3d3d3;
border: 2px solid #ccc; /* Adding border */
border-radius: 7px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adding shadow */
}

img{
    width:100%;
    height:auto;
}

.ratings p {
margin: 5px;
}

.synopsis p {
text-align: justify;
}